body{
    background-color: #141414;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #d3d3d3;
}

h4{
    font-family: 'Roboto', sans-serif;
    color: #d3d3d3;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #d3d3d3;
}

#ant{
    border: 0;
    padding: 0;
    max-width: 50%;
    max-height: 50%;
    rotate: 90deg;
}

#author{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #d3d3d3;
}

/* Grid container of the cells*/
#container{
    display: grid;
    width: 70%;
}

/* Container of the buttons and grid */  
#centerElements{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    gap: 100px;
    justify-content: space-around;
}

/* Rectangle menu with buttons */
#menu{
    width: 30%;
    height: 100%;
    border-radius: 30px;
    text-align: center;
}

#footer h2{
    font-family: 'Roboto', sans-serif;
    color: #d3d3d3;
}

/* Cells of the grid */
.cell{
    display: flex;
    background-color: transparent;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #5A5A5A;
    align-items: center;
    justify-content: center;
}

